@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,100;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 1212px;
    font-family: 'Roboto', sans-serif;
}

:root{
    color-scheme: ligth dark;
    background-color: #242424;
    color: rgba(255, 255, 255, 0.87);
}

/* ------------------------------- */
/*---------- REGIONES------------- */
/* ------------------------------- */
#regiones {
    display: flex;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 5px;
}

#regiones h2 {
    display: block;
    width: 100%;
    text-align: center;
    text-decoration: underline;
    font-size: 31.5px;
}
#regiones a{
    text-decoration: none;
    color: #ffff;
    transition: .2s;
}

#regiones a article {
    display: flex;
    width: 400px;
    height: 200px;
    margin: 0;
    padding: 0;
    flex-direction: column;
}

#regiones a article  img {
    width: 100%;
    height: 160px;
    margin-bottom: 0;
    opacity: .2;
}

#regiones a article h3 {
    margin-top: 0;
    height: 35px;
    text-align: center;
    text-transform: uppercase;
    color: rgb(232, 216, 185);

}

#regiones a:hover{
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg,#f0e6d2,#c89b3c);
    border-style: solid;
    border-width: 1px;
    transition: opacity .2s ease;
}
#regiones a article img:hover{
    opacity: 1;
    filter: alpha(opacity=50);
    zoom: 1.1;
}
/* Para que no aparesca hr en la pagina  */
/*
#regiones hr {
    visibility: hidden;
}

#regiones article {
    flex: 1;
    overflow:hidden;
    
}
#regiones article img {
    object-fit: contain;
    filter: grayscale(1);
    height: 500px;
    text-align: center;
} 

#regiones article:hover {
    transition: 3s ease;
    flex: 20;

}
#regiones article:hover img {
    filter: none;
} 

*/


/* ------------------------------- */
/*---------- Historia------------- */
/* ------------------------------- */

#historia {
    width: 100%;

}

#historia article {
    width: 100%;
    height: 450px;
    background-color: #2F4F4F;
    margin-top: 5px;
}

#historia article h2 {
    color: #ffff;
    font-size: 36px;
    padding: 15px 0px;
    text-align: center;
    text-decoration: underline;
}

#historia article p {
    color: #ffff;
    font-size: 20px;
    text-align: justify;
    padding: 40px;

}


