@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,100;1,400&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: 1212px;
    font-family: 'Roboto', sans-serif;
}

header a {

    text-decoration: none;
    color: #ffff;


}

header {
    height: 150px;
    background-color: #969DA0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

header img {
    width: 409px;
    height: 116px;
    display: block;
    margin: 17px 22px;
}

header nav {
    margin: 0px 47px;
}

header nav a {
    display: inline-block;
    width: 160px;
    height: 50px;

    text-align: center;
    margin-left: 30px;
    padding: 6px;

    font-size: 24px;
    transition: .9s;
    border-radius: 12px;
    border: 1px solid #FFFf;

}

header a:hover{
    background-color: #3C3C3C;
    color:  #ffff;
}


#magic {
    width: 1212px;
    height: 320px;
    margin-bottom: 10px;
}

#magic h1 {
    font-size: 36px;
    padding: 15px 0px;
}

#mana h2, #planeswalker h2 {
    font-size: 31.5px;
    padding: 20px 0px;
}

#magic h1,
#mana h2, #planeswalker h2 {
    width: 100%;
    height: 80px;
    background-color: #D9D9D9;
    text-align: center;
    margin-bottom: 10px;
}

#magic p {
    width: 100%;
    height: 230px;
    font-size: 24px;
    text-align: justify;
    background-color: #D9D9D9;
    padding: 35px;
}

/* --- Mana --- */

#mana {
    width: 1212px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#mana nav a {
    display: inline-block;
    width: 150px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    padding: 15px 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #ffff;
    transition: .8s;
}

#mana article {
    width: 1212px;
    height: 420px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

#mana article img {
    width: 280px;
    height: 382px;
    margin: 19px 27px 19px 45px;
}

#mana article div {
    width: 835px;
    height: 382px;
    background-color: #EAECEC;
    margin: 19px 0px 19px 0px;
}

#mana article div h3 {
    width: 835px;
    font-size: 27.5px;
    margin: 126px 0px 0px 27px;
    /* Margin: arriba derecha abajo izquierda */
}

#mana article div p {
    font-size: 22px;
    margin: 0px 27px 0px 27px;
    text-align: justify;
}

/*   */

#mana nav a:nth-child(1) {

    background-color: #60A9C1;
}
#mana nav a:nth-child(2){

    background-color: #3D443D;
}

#mana nav a:nth-child(3){

    background-color: #CA6A64;
}

#mana nav a:nth-child(4){
    background-color: #695F43;
}

#mana nav a:nth-child(5){
    background-color: #C29E68;
}

#mana nav a:hover{
    background-color: #A9A9A9;
    color: #fff;
}

/* identificador  */

#isla {
    display: flex;
    flex-wrap: wrap;
    background-color: #60A9C1;
}

#pantano {
    display: flex;
    flex-wrap: wrap;
    background-color: #3D443D;
}

#montaña{
    display: flex;
    flex-wrap: wrap;
    background-color: #CA6A64;
}

#bosque{
    background-color: #695F43;
}

#llanura{
    background-color: #C29E68;
}

/* PLANESWALKER */
#planeswalker {
    margin-top: 10px;
}

#planeswalker h2+p{
    width: 100%;
    height: 200px;
    font-size: 24px;
    text-align: justify;
    background-color: #D9D9D9;
    padding: 35px; 
    margin-bottom: 10px;

}

#planeswalker nav a {
    display: inline-block;
    width: 220px;
    height: 40px;
    text-align: center;
    text-decoration: none;
    padding: 15px 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #ffff;
    transition: .5s;
}



#planeswalker article {
    width: 1212px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

#planeswalker article img {
    width: 400px;
    height: 526px;
    margin: 37px 35px;
}

#planeswalker article div {
    width: 700px;
    height: 512px;
    margin: 37px 0px 37px;
    background-color: #EAECEC;
}
#planeswalker article div h3{
    width: 835px;
    font-size: 27.5px;
    margin: 35px 0px 0px 27px;
}

#planeswalker article div p {
    font-size: 22px;
    margin: 27px 27px 27px 27px;
    text-align: justify;
}
/* Color Fondo Planeswalker */

#planeswalker nav a:nth-child(1), #nissa {
    background-color: #8E9FA3;
}
#planeswalker nav a:nth-child(2), #chandra{
    background-color: #8E2D02;
}

#planeswalker nav a:nth-child(3), #arlinn {
    background-color: #2B2D30;
}

#planeswalker nav a:nth-child(4), #ugin{ 
    background-color: #319291;
}

#planeswalker nav a:hover{
    background-color: 	#A9A9A9;
    color: #fff;
}

/* Footer */
#social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 16px;
    background-color: #969DA0;
    margin-top: 10px;
}

#social h2{
    width: 100%;
    text-align: center;
    font-size: 31.5px;
    padding: 20px 0px;
    text-decoration:underline;
    color: #ffff;
}

#social a {
    width: 80px;
    height: 80px;
    background-color: #ccc;
    background-position: center;

    border-radius: 8px;
    background-size: 50px;
    background-repeat: no-repeat;

}


#social a:nth-child(2) {
    background-image: url(../icon/facebook.svg);
}

#social a:nth-child(3){
    background-image: url(../icon/instagram.svg);
}

#social a:nth-child(4) {
    background-image: url(../icon/linkedin.svg);
}

#social a:nth-child(5) {
    background-image: url(../icon/github.svg);
}


#social a:hover {
    background-color: #eee;
    background-size: 60px;
    box-shadow: 0 2px 8px #333;

}